# Le variabili servono a configurare la creazione dei ruoli nel database e nei container per la connessione
POSTGRES_PASSWORD=expsplit
AUTH_DB_PASSWORD=expsplit_auth
EXPSPLIT_DB_PASSWORD=expsplit_app
